* {
    /* outline: 1px solid red !important;  */
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* .header{
    width: 100%;
    height: 5rem;
    box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-nav);
   
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoButton{
    width: 4.5rem;
    height: 4.5rem;
}

.lista{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    font-weight: 500;
}

.lista li {
    display: inline-block;
    
}

.lista li a{
    text-decoration: none;
    color: var(--text-nav);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 1.7px solid transparent;
    transition: 0.6s ease;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.lista li a:hover{
    background: var(--hover-btn-background);
    color: var(--branco);
}

.lista .active a{
background: var(--hover-btn-background);
    color: var(--branco);
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.search-input {
    border: none;
    height: 2.5rem;
    width: 450px;
    padding-left: 20px;
    background-color: var(--search-background);
    color: var(--branco);
    font-weight: 400;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-input::placeholder{
    color: white !important;
}

.search-submit {
    border: none;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    background-color: var(--search-background);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-submit img{
    height: 1.7rem;
    width: 1.7rem;
}



.loginButton{
    width: 2.3rem;
    height: 2.3rem;
    transition: ease-in 0.2s;
}

.loginButton:hover{
    transform: scale(0.9);
} */

.header {
    display: flex;
}

.navbar {
    background-color: var(--background-nav);
    width: 80vw;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.3);
}

.bem-vindo {
    padding-left: 30px;
}

.container-vertical {
    background-color: var(--btn-conta-background);
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    position: fixed;
}


.div-voltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-voltar a {
    text-decoration: none;
}

.img-voltar {
    width: 50px;
    height: 50px;
}

.menu ul li {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--branco);
}

.div-conteudo {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    float: right;
}

.conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--background-nav);
}

.section-edit {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 20px;
}

.edit-nome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.titulo-loja {
    font-weight: 400;
    font-size: 20px;
}

.grupo-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 35vw;
    padding: 25px 50px 25px 50px;
    
    -webkit-box-shadow: 2px 10px 37px -3px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 2px 10px 37px -3px rgba(0, 0, 0, 0.38);
    box-shadow: 2px 10px 37px -3px rgba(0, 0, 0, 0.38);
}

.lista {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.item-edit1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-edit {
    height: 4vh;
    border-radius: 50px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #274ACD, #BC87FE, #7C2BE2) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}

.div-button {
    display: flex;
}

.button-alterar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    outline: none;
    border: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    color: var(--branco);
    background-color: var(--roxo-scrool);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.button-alterar:hover{
    background-color: var(--roxo-text);
}



.button-excluir{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    outline: none;
    border: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    color: var(--branco);
    background-color: var(--vermelho);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.button-excluir:hover{
    background-color: var(--vermelho-escuro);
}


/* Footer */

.footer{
    margin-top: 50px;
    padding-block: 50px;
    background: var(--background-footer);
    color: var(--search-background);
}
.footer__container{
    max-width: 1160px;
    margin: auto;
    padding: 0 15px;
}

.footer__top{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 20px; */
    display: flex;
}

.footer__title{
    font-size: 18px;
    color: var(--branco);
    font-weight: 500px;
    margin-bottom: 20px;
}

.footer__list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__list-item{
    list-style: none;
}


.footer__list-link{
    text-decoration: none;
    color: inherit;
    transition: color .25s;
}
.footer__list-link img{
    transition: 0.5s;
}

.footer__list-link img:hover{
    transform: translateY(-10px);
}

.footer__list-link:hover{
    color: var(--branco);
    transform: scale(1.1);
    transition: all 0.5s;
}

.footer__divider{
    margin-block: 25px;
   border: none;
   border-top: 1px solid rgba(0, 0, 0, .1);
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.footer__bottom .copyright{
    color: var(--branco);
}
.footer__bottom .footer__list{
    flex-direction: row;
}

.footer__top #img img{
    margin-left: 985px;
    margin-top: -90px;
}

.footer__list-item .seta img:hover{

    width: 50px;
    animation: ease-in-out;
}

.copyright a{
    text-decoration: none;
    color: var(--background-roxo);
}



